@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font: 14px 'Open Sans', sans-serif;
}

/* Chrome ignores the font otherwise... */
body * {
  font-family: inherit;
  font-size: inherit;
}

* { box-sizing: border-box }

h1 { font-size: 30px }
h2 { font-size: 25px }
h3 { font-size: 20px }
h4 { font-size: 18px }
h5 { font-size: 16px }
h6 { font-size: 14px }

h1, h2, h3, h4, h5, h6, p { margin: 6px 0 }

p { text-align: justify }

code { font-family: monospace }

blockquote {
  margin: 4px;
  border-left: 3px solid #888;
  border-radius: 3px;
  padding: 4px 12px;
}

a { color: #68F }
a:focus, a:hover { filter: brightness(1.1) }

iframe { max-width: 100% }
